<form action="/create" method="POST" enctype="multipart/form-data">
    inventory_ID: <input name="inventory_ID" /><br>
    name: <input name="name"  /><br>
    type: <input name="type"  /><br>
    quantity: <input name="quantity"  /><br>
    photoMimetype: <input name="photoMimetype"  /><br>
    street: <input name="street"  /><br>
    building: <input name="building"  /><br>
    country: <input name="country"  /><br>
    zipcode: <input name="zipcode" /><br>
    coord: <input name="coord"  /><br>
    latitude:: <input name="latitude" /><br>
        longitude:: <input name="longitude" /><br>
    
    <input type="file" name="file"><br>
    <input type="submit" value="update">
</form>